@font-face {
  font-family: flanella;
  src: url(Flanella.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(Poppins-Regular.ttf);
}


#main {
	position: relative;
  overflow: hidden;

}

@media screen and (max-width: 1024px) {
	#main {
		margin-top: 70px;
	}
}